@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../photo/wallpaperflare.com_wallpaper\ \(4\).jpg);
  mask-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  mask-repeat: no-repeat;
}

*:hover::selection {
  color: yellow;
  background-color: #000016;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px red;
}

::-webkit-scrollbar-thumb {
  background: blue;
}

::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}

header {
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  float: left;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
.m2 .animation {
  position: absolute;
  bottom: 0;
  right: 178px;
  z-index: -1;
  animation-timing-function: linear;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

nav a:nth-child(1) {
  width: 110px;
  top: 0;
}
nav a:nth-child(1):hover ~ .animation {
  width: 110px;
  right: 386px;
  height: 1px;
  background-color: blue;
  border: 6px solid blue;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

nav a:nth-child(2) {
  width: 110px;
  top: 0;
}
nav a:nth-child(2):hover ~ .animation {
  width: 110px;
  right: 287px;
  height: 1px;
  background-color: blue;
  border: 6px solid blue;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
nav a:nth-child(3) {
  width: 110px;
  top: 0;
}
nav a:nth-child(3):hover ~ .animation {
  width: 110px;
  right: 178px;
  height: 1px;
  background-color: blue;
  border: 6px solid blue;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.icon {
  font-size: 2.5em;
  color: darkcyan;
  margin-right: 0px;
  padding-right: 0px;
}

.m1 {
  left: 0px;
  margin-right: 550px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
}

#m1 {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
}
.m1:hover {
  color: gold;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.m2 a {
  padding-bottom: 30px;
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.m2 a:hover {
  color: #1d75de;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

section {
  padding: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  content: "";
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.login-box {
  margin-top: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background: linear-gradient(#141e30, #243b55);
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  animation: animate 3s linear infinite;
  -webkit-animation: animate 3s linear infinite;
}

h2 {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 17px;
  color: rgb(253, 240, 0);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  padding-top: 40px;
}

.login-box .user-box label {
  position: absolute;
  top: -10px;
  left: 0;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 25px;
  color: mediumturquoise;
  pointer-events: none;
  transition: 0.5s;
}

.login-box form a {
  position: relative;
  height: 40px;
  width: 100%;
  display: inline-block;
  padding: 10px -1px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 25px;
  letter-spacing: 4px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.joun {
  font-size: larger;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(113, 72, 72, 0),
    4px 4px 5px 0px rgba(255, 0, 0, 0.454);
  outline: none;
}

.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgba(6, 6, 6, 0.511);
  background: linear-gradient(0deg, (#083a73) 0%, (#10427b) 100%);
}
.btn-5:hover {
  color: gold;
  background: transparent;
  box-shadow: none;
  transition: 1.5s ease;
  -webkit-transition: 1.5s ease;
  -moz-transition: 1.5s ease;
  -ms-transition: 1.5s ease;
  -o-transition: 1.5s ease;
}
.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #09f033;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 800ms ease all;
  -webkit-transition: 800ms ease all;
  -moz-transition: 800ms ease all;
  -ms-transition: 800ms ease all;
  -o-transition: 800ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
  -webkit-transition: 800ms ease all;
  -moz-transition: 800ms ease all;
  -ms-transition: 800ms ease all;
  -o-transition: 800ms ease all;
}

.btn-7 {
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: gold;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7:before {
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: mediumaquamarine;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

.login-box .mm2 .joun1 {
  position: relative;
  display: inline;
  height: 20px;
  margin-top: 0px;
  right: 0%;
  padding: 10px -1px;
  color: honeydew;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 1px;
}

.login-box .mm2 .joun2 {
  position: relative;
  display: inline;
  height: 20px;
  margin-top: 0px;
  right: 0%;
  padding: 10px -1px;
  color: gold;
  font-size: 19px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 1px;
  transition: 1s;
}
.login-box .mm2 .joun2:hover {
  text-decoration: underline;
  color: #09f033;
  padding-right: 10px;
  padding-left: 20px;
}
.footer {
  background-color: #000016;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 0%;
  bottom: -35%;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #3a6cf4;
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}

.m3:hover {
  color: red;
}
